@tailwind base;

body {
    @apply bg-black;
}
@font-face {
    font-family: 'Roquefort';
    src: local('Roquefort'), url(./fonts/Roquefort/Roquefort-Strong.otf) format('opentype');
}


@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital@1&display=swap');

@tailwind components;
@tailwind utilities;